.Nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* background-color: red; Use correct property */
    padding: 2vh 8vh; /* Optional, for some spacing */
  }
.Nav .logo {
    height:21vh;
}
.Nav h1 {
    font-size: 6vh;
}
.Nav .profile{
    height:20vh;
    width: 20vh;
    border-radius:50%;
}