.sidebar-item  {
    padding : .75em  1em;
    display:block;
    transition:background-color .15s;
    border-radius : 5px;
    colour : black'
}

.sidebar-item:hover{
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}

.sidebar-title span i{
    display: inline-block;
    width: 1.5em;
    border: 1ps solid red;
}
.sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
}

.sidebar-content{
    padding-top: .25em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
 }
.sidebar-item.open > .sidebar-content{
    max-height :500px;
}
  
.sidebar-item.plain{
    color: black;
    text-decoration: none;
}
.sidebar-item.plain:hover{
    text-decoration: underline;
}
.sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
}