.Header {
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-image:url('../../assets/coep hostel.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    z-index:0;
}
