.navbar{
    display:flex;
    justify-content :space-between;
    align-items: center;
    width:92vw;
    margin:1vw 3vw;
    position: absolute;
    z-index: 1; 
    top:0;
    left:0;
    /* border: 2px solid black; */
}
  
.navbar img:hover {
  transform:translateY(-2px) scale(1.20);
}

.navbar img {
   filter: hue-rotate(90deg);
}
.menu li { 
   color : #0D92F4;
   cursor:pointer;
}
.menu li {
   position: relative;
   padding-bottom: 2px;
}

.menu li::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;  /* Start with 0 width */
   height: 1.5px;
   background: linear-gradient(90deg, rgba(51,147,213,1) 16%, rgba(19,164,195,1) 42%, rgba(0,212,255,1) 85%);
   transition: width 0.4s ease;  /* Animation duration */
}

.menu li:hover::after, .menu li.active::after {
   width: 100%;  /* Expand to full width on hover */
}


.nav-left {
   display:flex;
   justify-content:center;
   align-items : center;
   /* border:1px solid black; */
}

.nav-left img {
   height:20vh;
   width:10vw;
}

.menu {
    /* padding-left:7vw; */
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    gap : 1.8rem;
    color: black;
    font-size:2.5rem;
 }
.menu :hover {
   transform :translateY(-1px) scale(1.10);
 }

.navbar-right {
    justify-content:center;
    display:flex;
    align-items:center;
    gap:4vw;
    /* border: 1px solid; */
    margin-left: 12vw;
}
.navbar-right img{
   height:6vh;
}

.navbar-right img:hover {
    transform : translateY(-1px) scale(1.15);
}
.nav-mid {
   /* border :2px solid red; */
   margin-left:7vw;
   margin-right:auto;
   padding:1vw;
}
.navbar-right .fa-bars{
    font-size :5.5vh;
}
.navbar li {
    cursor:pointer;
 }

.bell-icon {
    position:relative;
}

.dot{
   position:absolute;
   width:10px;
   height:10px;
   background-color: black;
   border-radius: 5px;
   top:-7px;
   right:-8px;
   margin:1px;
 }
 
.load {
   z-index :10;
   color:black;
   position:relative;
}

@media(max-width : 1020px) {
   .navbar-img {
      width:140px;
      height:6vh;
      /* border:2px solid red; */
   }
   .navbar {
    width:92vw;
   }
   .menu {
      gap:35px;
      font-size:1.9rem;
   }
   .navbar-right {
      gap:20px;
      /* border:2px solid black; */
   }
   .navbar-right img {
      width:22px;
   }
   .navbar-right .add-btn {
      margin-bottom:5v
   }
}

@media(max-width : 800px) {
   .navbar-img {
      height:4vh;
   }  
   .navbar {
    width:96vw;
   }
   .menu {
      gap:20px;
      /* border:2px solid black; */
      font-size:1.9rem;
   }
   .navbar-right {
      gap:10px;
      /* border:2px solid black; */
   }
   .navbar-right img {
      width:0px;
   }
   .navbar-right .add-btn {
      padding:20px 20px;
      /* border:2px solid red; */
   }
   .dot {
      opacity:0
   }
}
@media( max-width:500px) {
   .navbar-img {
      opacity:0;
   }  
   .nav-mid {
      margin-left:-3.3vw;
   }
   .menu {
      font-size:2.3rem;
      gap:35px;
   }
}
.navbar-right .add-btn{
   background: rgb(51,147,213);
   background: linear-gradient(90deg, rgba(51,147,213,1) 16%, rgba(19,164,195,1) 42%, rgba(0,212,255,1) 85%);
   color:white;
   cursor: pointer;
   margin-bottom:2vh;
   opacity:0.9;
   border-radius : 7px;
   padding:2vh 3.3vw;
   margin-top; auto;
   /* margin-bottom:auto; */
 }

