.sidebar { 
    height: 102%;
    width: 20%;
    position:absolute;
    right:0;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.459);
    backdrop-filter: blur(90px); /*Increased blur value for testing*/
    overflow : auto;
    border : 1px solid black;
    z-index:100;
}