.Contact {
    display:flex;
    height: auto;
    /* border: 1px solid black; */
    flex-direction:column;
    position:relative;
    z-index:1;
}
.Contact .Intro {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.Contact .Intro h1{
    font-size:6vh;
    font-weight:300;
    color:black;
    margin-top : 2vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.9752275910364145) 0%, rgba(196,42,99,1) 29%, rgba(253,29,29,1) 60%, rgba(252,176,69,0.908000700280112) 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}
.workers-list {
    margin-top: 3vh;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    /* border:5px solid red; */
    gap:5vw;

}