  /* CSS for Notice Table */
  .complete {
     display:flex;
     flex-direction:column;
  }
  .notice-section {
    width: 95%;
    margin-top: 2vh;
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
  }
  
  .notice-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .notice-table th,
  .notice-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .notice-table th {
    background-color: #f6f6f6;
  }
  
  .notice-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .notice-table tr:hover {
    background-color: #e4e4e4;
  }
  
  .notice-img {
    width: 100px;
    height: auto;
  }
  